.App {
  text-align: center;
}

.nav{
  font-weight:100;
  font-size:24px;
  border-bottom: 6px solid #c0c4c2;
  border-bottom-width: .5px;
  color: #abb3af;
  padding-bottom: 1%;
  padding-top:3%;
  position:relative;
}
.header{
  position:absolute;
  margin-top: 3%;
  top:-20px;
  left:30px;
  font-size: 50px
}
.nav-child{
  display: inline-block;
  padding-left:15px;
}
.nav-child:hover{
  color:grey;
  cursor: pointer;
}
.clothing-menu{
  list-style-type: none;
  float: left;
  text-align: left;
  font-weight: 100;
  font-size: 40px;
  color: #656e67 ;
}
.clothing-item{
  font-weight: 100;
  font-size: 30px;
  color: #656e67;
}

.clothing-item-btn{
  color: #686e67;
  background-color: white;
}

.clothing-item-btn:active{
  background-color: transparent;
  outline: none;
}
.clothing-item-btn:hover{
  cursor: pointer;
}

.sell-items{
  padding-top:3%;
}
.title{
  height:30px;
  width: 240px;
  margin-left: -85px;
  border-width: 1px;
  outline-color: #b2bdb1;
  border-color: #99a398;
  border-style: solid;
}

.price{
  height:30px;
  width: 80px;
  margin: 10px;
  border-width: 1px;
  outline-color: #b2bdb1;
  border-color: #99a398;
  border-style: solid;
}
.description{
  height: 200px;
  width: 400px;
  margin-left: -30px;
  outline-color: #b2bdb1;
  border-color: #99a398;
}

textarea{
  resize:none;
}

.new-item{
  font-weight: 100;
  margin-left: 280px;
  color: #6e7571;
}
.new-item:hover{
  color:#b2bdb1;
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
